/* ============================================MAIN HEADER=================================== */
.mainHeader {
  text-align: center;
  text-decoration: underline;
}

/* ============================================HISTORY ITEMS=================================== */

.historyItem {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.red{
  border-top: solid 3px red;
}


.green{
  border-top: solid 3px green;
}

.historyItem .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.historyItem .icons .buttons {
  margin-left: 1rem;
}

.historyItem .icons .buttons button {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  cursor: pointer;
  width: 75%;
}

/* ============================================CARD=================================== */

.card {
  text-transform: uppercase;
  width: 25%;
  background-color: aliceblue;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

/* ============================================FORM=================================== */

form {
  margin-bottom: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form--col {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.form--col input {
  width: 95%;
  font-size: 1rem;
}

.inputs {
  display: flex;
  /* justify-content: space-around; */
}

.buttons {
  margin-top: 3px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.buttons button {
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  width: 50%;
}

.form--col--radio{
  display: flex;
  justify-content: start;
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}